.counter-container{
  text-align: center;
  font-family: sans-serif,arial;

}
.count-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
  text-shadow: 2px 3px 10px hsl(10, 10%, 10%);

}
.count-display:hover{
font-size: 10.05em;
}
.counter-button{
  width: 150px;
  box-shadow: 3px 2px 1px 2px rgba(100, 50,100, 20);
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background:linear-gradient(to left, white,aqua);
  color: hsl(10, 10%, 10%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.counter-button:hover{
  font-size: 1.6em;
  background:linear-gradient(to left, aqua,white);
}